<html>

<head>

    <title>STUDENT REGISTRATION FORM</title>
    <link rel="stylesheet" href="./css/livi.css">

</head>

<body>
<form action="/updateuser" method="post">
<h1>STUDENT REGISTRATION FORM</h1>
<div class="con">
    <table align="left" cellpadding="15">

        <tr>
            <td>Student id</td>
            <td><input id="" type="text" /></td>

        </tr>
       <tr>
            <td>First Name</td>
            <td><input name="fname" type="text" /></td>
            <td>Last Name</td>
            <td><input name="lname" type="text" /></td>
        </tr>

        <tr>
            <td>DOB</td>
            <td><input name="date" type="date" /></td>
            <td>Age</td>
            <td><input name="age" type="Number" /></td>
        </tr>

        <tr>
            <td>Father's Name</td>
            <td><input name="sname" type="text" /></td>
            <td>Occupation</td>
            <td><input name="occupation" type="text" /></td>
        </tr>


        <tr>
            <td>Mother's Name</td>
            <td><input name="mname" type="text" /></td>
            <td>Occupation</td>
            <td><input name="moccupation" type="text" /></td>
        </tr>



        <tr>
            <td>Annual Income</td>
            <td><input name="aincome" type="number" /></td>

        </tr>




        <tr>
            <td>Total Marks</td>
            <td><input name="tmarks" type="number" /></td>

        </tr>
        <tr>
            <td>Gender</td>
            <td><select name="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>others</option>
                </select></td>
            <td>Mobile No</td>
            <td><input number="mobile" type="number" /></td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td colspan="4"><input name="email" type="text" size="62"></td>
        </tr>
        <tr>
            <td>Permanent Address</td>
            <td colspan="4"><textarea name="paddress" cols="53" rows="5"></textarea></td>
        </tr>

        <tr>
            <td>Residential Address</td>
            <td colspan="4"><textarea name="radd" cols="53" rows="5"></textarea></td>
        </tr>

        <!-- <tr>
          <td>City</td>
          <td><input name="" type="text" /></td>
          <td>State</td>
          <td><input name="" type="text" /></td>
        </tr>
        <tr>
          <td>Cuntry</td>
          <td><input name="" type="text" /></td>
          <td>Pin</td>
          <td><input name="" type="text" /></td>
        </tr> -->

        <tr>
            <td></td>
            <td colspan="4"><input type="submit" value="Submit" class="submit"></td>

        </tr>

    </table>
</div>
</form>
</body>

</html>